{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}


    <h1 class="bg-info text-light text-center rounded mx-auto mt-5" style="width: 30%;">Connexion</h1>
    <div id="login">
        <div class="login mx-auto" style="width: 30%;">
            <form action="{{ path('security_login')}}" method="POST">
                <div class="form-group">
                    <label for="email" class="text-info">Email</label>
                    <input 
                        type="email" 
                        class="form-control"
                        id="email" 
                        name="_username" required autofocus
                        placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password" class="text-info">Mot de passe</label>
                    <input type="password"class="form-control" id="password" name="_password" placeholder="Mot de passe" required>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <a class="nav-link p-0" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
                    </div>
                    <div class="form-group">
                        <label for="_remember_me" class="text-info">
                            <input type="checkbox" for="_remember_me" name="_remember_me">
                            Se souvenir de moi
                        </label>
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="submit" class="btn btn-info" value="Se connecter" style="width: 100%;">
                </div>
                
            </form>
        </div>
    </div>

{% endblock %}
