{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="card mx-auto w-50 mt-5">
        <div class="card-header text-center font-weight-bold">INSCRIPTION</div>
        <div class="card-body">
            <h5 class="card-title text-center">Vous voulez nous rejoindre?</h5>
            <p class="card-text text-center">Pour cela, il faut vous inscrire afin de profiter de tout le site</p>
            <div class="row">
            <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary font-weight-bold" data-toggle="modal" data-target="#addModal">S'INSCRIRE</button>
            </div>

        </div>
    </div>


    
    

    <!-- Modal -->
    <div class="modal fade hidden" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white text-center" id="ModalLongTitle">INSCRIPTION</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <!-- <span aria-hidden="true">&times;</span> -->
                    </button>
                </div>
                <div class="modal-body">
                    <!-- On ajoute le form avec le nom créé dans la fonction create de BlogController -->
                    {{ form_start(form) }}

                    <!-- Gestion des erreurs -->
                    {{ form_errors(form) }} 
                    
                    <!-- Affiche le ou les champs avec widget pour tous les ajouter après les avoir implémentées dans la fonction create -->
                    <!-- Elle utilisera, aussi, automatiquement la classe 'form-group' Bootstrap pour la mise en page -->
                    {{ form_widget(form) }} <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <!-- JS code -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
    </script>
    <!--JS below-->

    <!--modal-->
    <script>
        $('#addModal').on('shown.bs.modal', function() {
            $('#myInput').focus()
        })
    </script>

{% endblock %}
