{% extends 'base.html.twig' %}

{% form_theme requestForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    
    {% if app.user %}

        <h1>Modification de votre mot de passe</h1>
    
    {% else %}

        <h1>Réinitialisez votre mot de passe</h1>

    {% endif %}

    {{ form_start(requestForm) }}

    {{ form_row(requestForm.email) }}
    <div class="mb-3">
        <small>
            Entrez votre adresse e-mail et nous vous enverrons un
            lien pour réinitialiser votre mot de passe
        </small>
    </div>

    {% if app.user %}

        <button class="btn btn-primary">Modifier votre mot de passe</button>
    
    {% else %}

        <button class="btn btn-primary">Envoyer un e-mail de réinitialisation de mot de passe</button>

    {% endif %}

    {{ form_end(requestForm) }}
{% endblock %}
