{% extends 'base.html.twig' %}

{% form_theme resetForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisez votre mot de passe</h1>
    {{ form_start(resetForm) }}

    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-primary">Réinitialisation</button>
        
    {{ form_end(resetForm) }}
{% endblock %}
