<nav class="navbar navbar-expand-lg navbar-dark bg-primary  mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home2') }}">Obaily</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" 
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog') }}">Articles</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog_create') }}">Créer un article</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="{{ path('user_index') }}">Utilisateurs</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            {% if app.user %}
            {# Si l'utilisateur est authentifié #}
                <div class="text-white mr-2">
                   Bonjour {{ app.user.username }} 
                </div>
                {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-outline-info" href="{{ path('userSpace') }}">Page membre</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                        {# Si l'utilisateur est authentifié et qu'il est admin #}
                        <a class="btn btn-outline-warning" href="{{ path('adminSpace') }}">Page admin</a>
                {% endif %}
                <div class="d-flex">
                    <a class="nav-link text-white btn btn-outline-dark rounded ml-2" href="{{ path('app_forgot_password_request') }}">Modifier mot de passe</a>
                    <a class="nav-link btn btn-outline-danger text-danger ml-2" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                    <a class="nav-link text-white bg-success rounded ml-2" href="{{ path('security_register') }}">Inscription</a>
                    <a class="nav-link text-white bg-info rounded ml-2" href="{{ path('security_login') }}">Connexion</a>
                 
                </div>
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</nav>