{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <h1>Page Admin</h1>

    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Annuaire des utilisateurs</h5>
              <p class="card-text">Modifications</p>
              <a href="{{ path('user_index') }}" class="btn btn-primary">Y aller</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, doloribus.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
