{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}


    {% if app.user %}

    <h1>Modifier un article</h1>

    {% else %}

    <h1>Création d'un article</h1>
    
    {% endif %}

    <!-- On ajoute le form avec le nom créé dans la fonction create de BlogController -->
    {{ form_start(formArticle) }}

    <!-- Gestion des erreurs -->
    {{ form_errors(formArticle) }} 

    {{ form_row(formArticle.title, {'label': 'Titre'}) }}
    
    <!-- Affiche le ou les champs avec widget pour tous les ajouter après les avoir implémentées dans la fonction create -->
    <!-- Elle utilisera, aussi, automatiquement la classe 'form-group' Bootstrap pour la mise en page -->
    {{ form_row(formArticle.category, {'label': 'Catégorie'}) }}

    {{ form_row(formArticle.content, {'label': 'Contenu'}) }}

    {{ form_row(formArticle.image, {'label': 'Image'}) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>
    {{ form_end(formArticle) }}

{% endblock %}
