{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Bienvenue sur Obaily</h1>

<!-- <h1>{{ title }}</h1>

{% if age > 18 %}
    <p>Tu es majeur</p>
{% else %}
    <p>Tu es mineur</p>
{% endif %} -->

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui architecto possimus vitae, rem nobis dolorum est tempora a veniam veritatis ab magni! Placeat quae impedit dolorem? Beatae aperiam fuga obcaecati, tempore est rerum numquam ratione hic, repellendus natus quos cupiditate.</p>
    <p>Deleniti dolores vero magnam, quibusdam assumenda quaerat corrupti voluptatem, ab nemo voluptas quis cupiditate iusto sed, in nobis expedita. Maiores, fugit ad cumque necessitatibus facere voluptatum iusto omnis delectus praesentium tempora non nemo. Nam blanditiis fuga quo ab veniam architecto!</p>

{% endblock %}
