{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <section class="articles">

        {% for article in articles %}
            <article class=" mb-5">
                <!-- Utilise le getTitle pour récupérer les articles -->
                <h2>{{ article.title }}</h2> 

                <!-- Attention, ne pas oublier de mettre le filtre twig "| date('d/m/y')" pour le Datetime sinon rien ne s'affichera!!! -->
                <div class="metadata">Écrit le {{ article.createdAt | date('d/m/y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie Politique</div>
                <img src="{{ article.image }}" alt="">
                <div class="content">

                    <!-- Utiliser le getContent pour récupérer les contents, filtre raw servant à afficher tel quel sans les balises <p> -->
                    {{ article.content | raw }} 

                </div>
                <a href="{{ path('blog_show', {'id': article.id})}}" class="btn btn-primary">Lire la suite</a>
            </article>
        {% endfor %}
    </section>

{% endblock %}
