{% extends 'base.html.twig' %}

{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}
    <article class="container mb-5">
        <div class="row flex-nowrap w-75">
            <h2>{{ article.title }}</h2>
            <a href="{{ path('blog_edit', {'id': article.id})}}"><button type="button" class="btn btn-warning mt-3">Modifier</button></a>
        </div>
        <div class="metadata">Écrit le {{ article.createdAt | date('d/m/y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie {{ article.category.title }}</div>
        <img src="{{ article.image }}" class=" w-100" alt="">
        <div class="content">
            {{ article.content | raw }} 
        </div>
    </article>
    
    <section id="commentaires">
        <!-- article.comments | length (sert à donner le nombre de commentaires avec length) -->
        <h1>{{ article.comments | length }} commentaires ont été ajoutés</h1> 

        {% for comment in article.comments %}
            <div class="comment mb-3">
                <div class="row">
                    <div class="col-3 font-weight-bold text-info">
                        {{ comment.author }} (<small>{{ comment.createdAt |  date('d/m/y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        <p>{{ comment.content | raw }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if app.user %}

            {# Séparateur HTML #}
            <hr/>  

            <h3 class=" font-weight-bold text-dark mt-5 mb-3">Ajouter un commentaire</h3> 
            <div class="comment mb-3">
                <div class="row">
                    <div class="col-3 text-dark">
                        <!-- On ajoute le form avec le nom créé dans la fonction create de BlogController -->
                        {{ form_start(commentForm) }}

                        <!-- Gestion des erreurs -->
                        {{ form_errors(commentForm) }} 
                        
                        <!-- Affiche le ou les champs avec widget pour tous les ajouter après les avoir implémentées dans la fonction create -->
                        <!-- Elle utilisera, aussi, automatiquement la classe 'form-group' Bootstrap pour la mise en page -->
                        {{ form_widget(commentForm) }} <br>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                        
                        {{ form_end(commentForm) }}
                    </div>
                </div>
            </div>   

        {% else %}

            <div class="card mx-auto w-50 mt-5">
                <div class="card-header text-center font-weight-bold">Vous ne pouvez pas commenter si vous n'êtes pas membre</div>
                <div class="card-body">
                    <h5 class="card-title text-center">Vous voulez nous rejoindre?</h5>
                    <p class="card-text text-center">Pour cela, il faut vous inscrire afin de profiter de tout le site</p>
                    <div class="row">
                    <!-- Button trigger modal -->
                </div>
                <a href="{{ path('security_register') }}">
                    <button type="button" class="btn btn-success font-weight-bold w-100">POUR VOUS INSCRIRE, C'EST PAR LÀ</button>
                </a>
        
                </div>
            </div>

        {% endif %}

    </section>
{% endblock %}
