{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1>Modifier 
    {% if app.user %}
        {{ app.user.username }} 
    {% endif %} </h1>
        
    {# {{ dump(user) }} #}
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('user/_delete_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="btn btn-info mt-4">&#11144; Revenir à la liste des utilisateurs</a>

{% endblock %}
