{% extends 'base.html.twig' %}

{% block title %}Annuaire des utilisateurs{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-5">
        <div class="container-flex">
            <h1>Annuaire</h1>
        </div>
        <div class="container-flex">
            <a href="{{ path('user_new') }}" class="btn btn-info rounded-circle font-weight-bold mt-3"><i class="fas fa-user-plus"></i></a>
        </div>

        
    </div>

    <div class="row">
        <div class="col-12 center-align pb-xxl-5">
            <div class="table-responsive-sm">
                <table class="table table-striped table-hover" data-toggle="table" data-pagination="true" id="dataTable">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Nom</th>
                            <!-- <th>Password</th> -->
                            <th class="text-center">Rôles</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in user %}
                        <tr>
                            {# {{ dump(data.username) }} #}
                            <td  class="text-center align-middle  font-weight-bold text-info">{{ data.id }}</td>
                            <td  class="text-center align-middle">{{ data.email }}</td>
                            <td  class="text-center align-middle">{{ data.username }}</td>
                            {% for role in data.roles %}
                                {% if role == 'ROLE_ADMIN' %}
                                <td  class="text-center align-middle"><span class="badge rounded-pill bg-danger">Admin</span></td>
                                {% elseif role == 'ROLE_USER' %}
                                <td  class="text-center align-middle"><span class="badge rounded-pill bg-info">Membre</span></td>
                                {% endif %}
                            {% endfor %}

                            {# {{ dump(data.roles == "ROLE_USER") }} #}
                            {# <td>{{ data.roles ? data.roles|json_encode : '' }}</td> #}
                            <td  class="text-center">
                                <a href="{{ path('user_show', {'id': data.id}) }}" class="btn btn-success font-weight-bold">Afficher</a>
                                <a href="{{ path('user_edit', {'id': data.id}) }}" class="btn btn-warning font-weight-bold">Modifier</a>
                                <a href="{{ path('user_delete', {'id': data.id}) }}" class="btn btn-danger font-weight-bold">Supprimer</a>
                                {# {{ include('user/_delete_form.html.twig') }} #}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('user_new') }}" class="btn btn-info font-weight-bold mt-1 mb-5">Ajouter un nouvel utilisateur</a>

    {% block javascripts %}
        {# Datatable #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

        <script>
            $('#dataTable').DataTable({
            "responsive":true,
            "hover":true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json",
            },
            
        });</script>

        
    {% endblock %}

{% endblock %}
