{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajout Utilisateur{% endblock %}

{% block body %}
    <h1>Création d'un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="btn btn-info mt-3">&#11144; Revenir à la liste des utilisateurs</a>

{% endblock %}
