{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Membre</h1>

    <table class="table table-striped table-hover w-50">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <!-- <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> -->
            <tr>
                <th>Rôles</th>
                {% for role in user.roles %}
                    {% if role == 'ROLE_ADMIN' %}
                    <td><span class="badge rounded-pill bg-primary">Admin</span></td>
                    {% elseif role == 'ROLE_USER' %}
                    <td><span class="badge rounded-pill bg-info">Membre</span></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}" class="btn btn-info mt-4">&#11144; Revenir à la liste des utilisateurs</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary mt-4">Modifier</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
